---
name: CANARY Land-blocking Compat Test

on:
  push:
    branches:
      - cluster-test-report-compat-canary

jobs:
  build-and-run-cluster-test:
    name: Build images and run cluster test
    runs-on: self-hosted
    # NOTE the total time should cover build (~10 min) and test (~10 min).
    # The additional time can cover the retries and wait.
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v1
      - name: Setup env
        run: |
          echo "::set-env name=LIBRA_GIT_REV::$(git rev-parse --short=8 HEAD)"
          echo "::set-env name=TEST_TAG::land_$(git rev-parse --short=8 HEAD)"
          echo "::set-env name=PREV_TAG::land_$(git rev-parse --short=8 origin/master)"
      - name: Build, tag and push images
        run: |
          set +e
          date
          RETRYABLE_EXIT_CODE=2
          for ((i = 0; i < 3; i++)); do
            echo "Build attempt $i"
            docker/build-aws.sh --build-all-cti --version $LIBRA_GIT_REV --addl_tags canary,${TEST_TAG}
            return_code=$?
            if [[ $return_code -eq 0 ]]; then
              echo "Build successful"
              exit 0
            fi
            if [[ $return_code -ne ${RETRYABLE_EXIT_CODE} ]]; then
              echo "Build failed"
              exit 1
            fi
            echo "Retrying build"
          done
          echo "Build failed after retries"
          exit 1
      - name: Determine which cluster-test suite to run
        run: |
          set +e
          commit_message=$(git log -1 --pretty=oneline)
          echo $commit_message | grep '\[breaking\]'
          if [ $? -eq 0 ]; then
            echo "Breaking change detected! Will run land_blocking suite"
            echo "::set-env name=TEST_COMPAT::0"
          else
            echo "Will run land_blocking_compat suite"
            echo "::set-env name=TEST_COMPAT::1"
          fi
      - name: Launch cluster test
        # NOTE Remember to update PR comment payload if cti cmd is updated.
        run: |
          set +e
          date
          export CTI_OUTPUT_LOG=$(mktemp)
          echo "::set-env name=CTI_OUTPUT_LOG::$CTI_OUTPUT_LOG"
          if [ $TEST_COMPAT -eq 1 ]; then
            ./scripts/cti \
              --tag ${PREV_TAG} \
              --cluster-test-tag ${TEST_TAG} \
              -E RUST_LOG=debug \
              -E BATCH_SIZE=15 \
              -E UPDATE_TO_TAG=${TEST_TAG} \
              --report report.json \
              --suite land_blocking_compat
          else
            ./scripts/cti \
              --tag ${TEST_TAG} \
              -E RUST_LOG=debug \
              --report report.json \
              --suite land_blocking
          fi
          ret=$?
          echo "::set-env name=CTI_EXIT_CODE::$ret"
          if [ -s "report.json" ]; then
            echo "report.json start"
            cat report.json
            echo "report.json end"
          else
            echo "report.json is empty or not found."
          fi
      - name: Post test results on PR
        uses: actions/github-script@0.4.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Find the number of the pull request that trigggers this push
            let pr_num = 0;
            let commit_message = context.payload.head_commit.message;
            let re = /.*[^]Closes:\s\#(\d+)[^]Approved\sby:\s[A-Za-z0-9_-]+$/;
            if (re.test(commit_message)) {
              let match = re.exec(commit_message);
              pr_num = match[1];
            } else {
              console.warn("Did not find pull request num in commit message. -\\_(O_o)_/-");
              console.log("GH event payload\n", context.payload);
            }
            // Read and check cluster test results
            let should_fail = false;
            let env_vars = process.env;
            let body;
            const fsp = require('fs').promises;
            try {
              data = await fsp.readFile('report.json', 'utf-8');
              var result = JSON.parse(data);
              // TODO - set P/F based on metrics TPS, latency
              body = `Cluster Test Result
            \`\`\`
            ${result.text}
            \`\`\`
            `;
              // Check CTI exit code for errors
              if (parseInt(env_vars.CTI_EXIT_CODE) != 0) {
                body += "\n :exclamation: Cluster Test failed - non-zero exit code for `cti` \n"
                should_fail = true;
              } else {
                let tps = result.metrics.find(m => m.experiment == "all up" && m.metric == "avg_tps").value;
                let min_tps = 900;
                if (tps < min_tps) {
                  body += "\n :exclamation: Performance regression is detected on this PR";
                  body += "\n TPS with PR: " + tps + ", this is lower then minimum allowed " + min_tps + " TPS.";
                  should_fail = true;
                }
              }
            } catch (err) {
              if (err.code === 'ENOENT') {
                body = "Cluster Test failed - no test report found.\n";
                // Check Cluster Test output log for infra error
                try {
                  cti_log = await fsp.readFile(env_vars.CTI_OUTPUT_LOG, 'utf-8');
                  let re = /.*(^Failed\sto\s.*\"Service\sUnavailable.\sPlease\stry\sagain\slater\.\".*)/;
                  if (re.test(cti_log)) {
                    let match = re.exec(cti_log);
                    body += " There was service infra error:\n";
                    body += `
                    ${match[1]}
                    `
                    + "\n"
                    ;
                    body += "To retry, comment your PR with `@bors-libra retry`.";
                    body += " If that doesn't trigger re-run, amend and push again.";
                  }
                } catch (err) {
                  console.error("Failed to check infra error in CT output log.\n", err);
                }
              } else {
                body += "\n Cluster Test failed - test report processing failed.";
              }
              body += " See https://github.com/libra/libra/actions/runs/${{github.run_id}}";
              // Post comment on PR then fail this workflow
              should_fail = true;
            }
            // Add repro cmd to message
            try {
              body += "\nRepro cmd:\n";
              body += `
                ./scripts/cti --tag ${env_vars.TEST_TAG} --run bench
              `;
            } catch (err) {
              if (err.code === 'ReferenceError') {
                console.error("env var $LIBRA_GIT_REV is not set.");
              } else {
                body += "[GHA DEBUG]\nFound error in actions/github-script\n";
                body += err;
              }
            }
            console.log(body);
            // Fail the workflow if test fails or perf regresses
            if (should_fail) {
              throw "Land-blocking test failed";
            }
